bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

release/


lanchat-tauri/src-tauri/target/
lanchat-tauri/src-tauri/gen/

lanchat-tauri/node_modules/
node_modules/
npm-debug.log*


**/Received/

### === IDE === ###
.idea/
.vscode/
*.swp
*.swo


.DS_Store
Thumbs.db
desktop.ini


*.log
*.tmp

*.zip
*.tar.gz